<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Book Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/available_books">Available Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/authors">My Books</a>
                    </li>
                </ul>
                <div>
                    <a class="nav-link text-white " href="book_register">New Books Register</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container text-center">
        <h1>Welcome to Book Store</h1>
        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias animi aperiam aspernatur
            assumenda atque autem beatae commodi consequatur cumque delectus doloremque doloribus ducimus ea eius
            eligendi eos error est eum ex explicabo facere fugiat fugit harum hic id illum impedit in incidunt ipsa
            ipsam iure labore laborum laudantium magnam maxime minima minus molestiae mollitia natus nemo neque nihil
            nisi nobis non nulla numquam obcaecati odit officiis omnis optio pariatur perferendis perspiciatis porro
            possimus praesentium provident quae quaerat quam quasi qui quia quibusdam quisquam quo ratione recusandae
            reiciendis rem repellat repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora
            tenetur totam ullam unde vel veniam veritatis voluptas voluptates voluptatum. A accusamus ad alias
            asperiores at aut autem beatae blanditiis consequuntur corporis cumque delectus dicta distinctio dolor
            doloremque dolores dolorum ea eius eligendi error esse est et eum ex excepturi exercitationem expedita
            explicabo facere facilis fuga <h6>
        <img src="images/bg_pic.jpg" alt="Books" width="950px">
    </div>
</body>
</html>
