<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

	<title>Trang Chủ</title>
	
	<!-- CSS Bootstrap lõi -->
    <link th:href = "@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet">
    <!-- CSS tự tạo của mình-->
    <link th:href ="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	
	
	
	
    <script th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
 </body>
</html>