<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  <link rel="stylesheet" href="~/Content/Styles/style-main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="~/Scripts/Javascripts/he-thong.js"></script>
</head>

<body>
  <header class="mw-100p">
    <h1 class="title text-center">PHẦN MỀM QUẢN LÝ KÝ TÚC XÁ K7</h1>
  </header>

  <nav class="nav-title mw-100p border border-top-color">
    <p>@ViewBag.Title</p>
  </nav>

  <main>
    @RenderBody()
  </main>
</body>
</html>
