<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết Sách</title>
</head>
<body>
    <h1>Chi tiết Sách</h1>
    <p>ID: <span th:text="${sach.id}"></span></p>
    <p>Tên Sách: <span th:text="${sach.tenSach}"></span></p>
    <p>Tác Giả: <span th:text="${sach.tacGia}"></span></p>
    <p>Số Lượng: <span th:text="${sach.soLuong}"></span></p>
    <p>Giá: <span th:text="${sach.gia}"></span></p>
    <a href="/sach">Quay lại danh sách Sách</a>
</body>
</html>
