* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 70px;
  padding-top: 10px;
  border: solid 1px;
  border-bottom: none;
  background-color: #064176;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    color: white;
  }
}

.nav-title {
  text-align: center;
  border: solid 1px;
  border-bottom: none;
  background-color: #064176;
  font-size: 18px;

  & p {
    color: white;
    padding: 3px 0;
  }
}

.nav-link {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border: solid 1px;
  border-bottom: none;
  
  & .link-page,
  & .thong-tin-va-link-system {
    gap: 10px;
    padding: 0 10px;
  }

  & .link-page {
    & a:hover {
      text-decoration: underline;
    }
  }

  & .thong-tin-va-link-system {
    height: 26px;
    & .link-system {
      & button {
        width: 32px;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0 5px;
        transition: 0.4s;
        background-color: transparent;

        &:hover i {
          color: white;
        }
      }
    }
  }
}

header,
section,
.nav-link,
.nav-title,
.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 30px 10px;
  background-color: #e8f0fe;;
}

#grid-form {
  background-color: white;

  & .table-grid {
    text-align: center;

    & thead {
      font-size: 16px;
      background-color: #2c69a0;

      & tr th {
        padding: 5px 0;
        & a {
          color: white;
        }
      }

      & tr th a,
      & tr th a:hover {
        text-decoration: none;
      }
    }

    & tfoot {
      .grid-footer {
        color: #000;
        font: 17px Calibri;
        font-weight: bold;

        & td a {
          background-color: #ffffff;
          color: blue;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          padding: 1px 10px 2px 10px;
        }
      }
    }

    & tbody {
      font-size: 14px;

      & tr td {
        transition: 0.25s;
      }

      & tr:hover {
        background-color: rgb(137,137,137,0.2);

        & td:first-child {
          transform: scale(1.5);
        }
      }

      & .alternatingRowStyle {
        background-color: aliceblue;
      }
    }
  }
}

.khung-nhap-thong-tin {
  margin-bottom: 20px;
}